/* .container {
  background: aqua;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
} */
/* section {
  background-color: black;
  max-width: 1480px;
  height: 1240px;
} */

.App {
  height: 100vh;
}
