.admin h1 {
  color: yellow;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-align: center;
  margin: 40px 0;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.inputs input {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.4px;
  border-radius: 10px;
  background: #d9d9d9;
  width: 549px;
  height: 47px;
  padding: 15px;
  border: none;
  outline: none;
}
.admin button {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.08px;
  border-radius: 10px;
  background: #ddaa27;
  width: 104.1px;
  height: 40px;
  border: none;
  margin-top: 10px;
}
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
